//card view
.card {
	float: left;
	width: calc(33.333% - 20px);
	margin-right: 30px;
	margin-bottom: 30px;
	@include at(3) {
		width: calc(50% - 10px);
		margin-right: 20px;
	}
	@include to(2) {
		width: 100%;
		margin-right: 0;
	}

	&:nth-of-type(3n) {
		@include from(4) {
			margin-right: 0;
		}
	}

	&:nth-of-type(2n) {
		@include at(3) {
			margin-right: 0
		}
	}
	
	a:hover {
		text-decoration: none
	}

	.MuiCardHeader-title {
		@extend .title;
	}
}