#infoWrapper {
    margin-bottom: 20px;
	
	table {
		tr {
			vertical-align: middle;
		}

		td:nth-of-type(even) {			
			font-size: 30px;
    		line-height: 40px;
    		text-align: center;

    		&.kb1 { font-family: #{map-get($fonts, kb)}; }
    		&.kb2 { font-family: #{map-get($fonts, kb2)}; }
		}
		td:nth-of-type(odd) {
			font-size: 20px;
			vertical-align: bottom;
			padding: 35px 50px 0 0;			
		}			
	}
}