//list view
.hoverList {
	@include transition(all, 0.5s, ease);

	svg,
	.MuiIconButton-root {
		@include transition(all, 0.5s, ease);		
	}

	.MuiListItem-wrapper {
		width: 100%;
	}

	div a {
        max-width: calc(100% - 68px);

	    .MuiListItemText-root {
	    	text-overflow: ellipsis;
	    	white-space: nowrap;
	    	overflow: hidden;
	    	max-width: 100%;
	    }
	}

	&:hover {
		background-color: rgba(244,118,41,0.1);

		.MuiIconButton-root:hover {
			background-color: rgba(244,118,41,0.1);			
		}

		svg {
			fill: #f47629;
		}
	}
}
.MuiLink-root {
	.MuiListItemText-root {
		cursor: pointer;
		@extend .title;
	}
}
[id^="scrollable-force-tabpanel-"] .MuiBox-root {
	padding: 24px 0 !important;
	@include to(2) {
		padding: 10px 0 !important;
	}
}
.contentWrapper {
	margin: 0 25px 25px;
	@include to(2) {
		margin: 0 10px 25px;
	}
}
.tabsWrapper .MuiBox-root {
	padding: 25px 0 !important;
}
.MuiListItem-root {
	overflow: hidden;
}
.MuiListItem-root .MuiButtonBase-root {
	margin-right: 20px;
}
.bold .MuiListItemText-primary {
	font-weight: bold !important;
}


//modal
#modal-backdrop {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	position: fixed;
    overflow-x: hidden;
    overflow-y: auto;

    #modal {
	    outline: 0;

	    #modal-inner {
	    	width: 800px;
	    	position: relative;

	    	button#left,
	    	button#right {
	    		top: 150px;
	    		position: absolute;
	    		background: rgba(255,255,255,0.5);
	    		box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
	    		@include to(3) {
	    			position: relative;
	    			top: inherit;
	    			background: transparent;
	    			box-shadow: inherit;
	    		}
	    	}

	    	button#left {
	    		left: -60px;
	    		@include to(3) {
	    			left: inherit;
	    		}

	    		svg {
	    			transform: rotate(180deg);
	    			position: relative;
	    			left: -1px;
	    		}
	    	}
	    	button#right {
	    		right: -60px;
	    		@include to(3) {
	    			right: inherit;
	    		}

	    		svg {
	    			position: relative;
	    			right: -1px;
	    		}
	    	}
	    }

	    #page-content {
		    max-height: 350px !important;
		}

		.MuiPaper-root {
		    padding: .5rem 1rem;
			max-width: 100%;
		    margin: 1.75rem auto;    

		    h2#modal-title {
		    	max-width: 100%;
		    	margin-top: .5rem;
		    	min-height: 48px;
		    	line-height: 48px;
		    	text-align: center;
		    	text-overflow: ellipsis;
		    	white-space: nowrap;
		    	overflow: hidden;
		    }

		    div#modal-body {
		    	width: 100%;
		    	display: table;
		    	padding: 0 0 10px;
			    border-top: 2px solid #f47629;

			    .MuiPaper-root {
			    	margin: 0 auto;
			    }
		    }
		}
	}
}


//modal form settings
.MuiFormControl-root {
	clear: both;
}
.MuiInputLabel-shrink {	
    background: #fff;
    padding: 0 10px;
}