//post page article
#page-wrapper {	
    #page-top-wrapper {
    	padding: 24px;
    	color: #888;
    	background: #f2f2f2;
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebeb), to(#f9f9f9));
	    background: -moz-linear-gradient(100% 100% 90deg, #ebebeb, #f9f9f9);
	    padding: 10px;
	    border-bottom: 1px solid #ccc;
	    font-size: 13px;	    
    }

    a {    	
    	color: #f47629;
    	text-decoration: none;
    }

    #page-title {
    	margin-top: 0;    	
	    font-size: 200%;
	    font-weight: bold;
	    text-shadow: 1px 1px 2px #ccc;
	    margin-bottom: 8px;
    }

    #page-content {
    	padding: 12px 24px;
    	overflow-y: auto;
	    overflow-x: hidden;
	    max-height: 550px;
    	padding-right: 10px;
    	padding-bottom: 20px;
	    
    	a {    		
    		text-overflow: ellipsis;
    		white-space: nowrap;
    		overflow: hidden;
    		display: inline-block;
    		vertical-align: bottom;
    		max-width: 600px;
    	}

    	div, table, span, blockquote {
    		max-width: 700px !important;
    	}

	    img, iframe {
	    	display: block;
	    	margin: 0 auto;
	    	max-width: 100%;
	    }

	    ul[id^="gallery"] {
	    	list-style: none;
	    	padding: 0;
	    	margin: 0;
	    }

	    blockquote {
	    	position: relative;
	    	margin: 40px 0 35px;
	    	border-top: 1px solid #c1c1c1;
	    	border-bottom: 1px solid #c1c1c1;
	    	padding: 20px 0 22px;
	    	font-style: italic;	    	

	    	&:before {
	    		background: url(https://m.blog.hu/skins/classic/img/sprite.png) no-repeat -185px 0;
	    		position: absolute;
	    		content: "";
	    		top: -15px;
	    		left: 15px;
	    		width: 44px;
	    		height: 28px;
	    	}

	    	p:last-of-type {
	    		margin: 0;
	    	}
	    }

	    .frame {
	    	background: rgba(204,204,204,.15);
	    	border: 2px solid grey;
	    	font-style: italic;
	    	margin: 25px 0;
	    	padding: 20px;
	    }
    }    
}


//expansion panel
.hr,
.expansion-panel-cell {
	width: 100%;	
}
.expansion-panel-heading {
	font-size: 16px !important;
	text-transform: uppercase;
	color: rgba(0,0,0,.5);
	letter-spacing: 2px;
	font-weight: 800;
}
.expansion-panel-cell {
	a {
		color: inherit;
		border-bottom: 1px dotted rgba(0,0,0,.5);
		text-decoration: none;

		&:hover {
			border-bottom: 0;
			text-decoration: none;
		}
	}
}
.hr {
	margin: 10px 0 !important;
}
.meta-image {
	max-width: 610px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
}
.MuiExpansionPanelDetails-root {	
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    .MuiSelect-selectMenu {
    	width: 345px;
    	max-width: 100%;
    }

    .mocsok {
		width: 100%;
	    display: flex;
	    flex-flow: row wrap;    	

	    &:not(:first-of-type) {
	    	margin-top: 20px;
	    }
    }
}
.MuiExpansionPanel-root.Mui-expanded:before {
	opacity: 1 !important;
}
.MuiExpansionPanel-root.Mui-expanded {
	margin: 0 !important;
}


//tag chips
.MuiChip-root {	    			
	font-family: 'Pridi', serif;
	margin-right: 5px;
	margin-bottom: 5px;
	position: relative;
	height: 24px !important;
	font-size: 10px !important;

	.MuiChip-label {
		display: inline;
		max-width: 300px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
.MuiChip-clickable:focus,
.MuiChip-clickable:active {
    background-color: #e0e0e0 !important;
    box-shadow: none !important;
}
.MuiChip-clickable.active {
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12) !important;
	background-color: rgb(197, 197, 197) !important;
}