//classes for extends
.title {
	color: #222;
}

.ListItemText-style {
	margin-top: 0 !important;
	width: calc(100% - 40px);
	text-decoration: none;
	position: absolute;
	padding-left: 40px;
}


//icon settings
.drawer .fa {
	color: #222;
    font-size: 20px;	
}
.drawer .fa.fa-users {	
    font-size: 17px;
}
.inline,
i.fa.fa-tags,
span.MuiBadge-root {
	display: inline-block;
	vertical-align: middle;
}
i.fa.fa-tags {
	margin-right: 10px;
	margin-bottom: 5px;
}


//sidebar width
.makeStyles-appBarShift-3 {
	width: calc(100% - #{$sideBarWidth}) !important;	
	@include to(2) {
		width: calc(100% - #{$mobileSideBarWidth}) !important;
	}
}
.drawer,
.drawer .MuiPaper-root {
	width: #{$sideBarWidth} !important;	
	@include to(2) {
		width: #{$mobileSideBarWidth} !important;
	}
}


.MuiListItem-gutters {
	padding-left: 5px !important;
}


//list item buttons
.MuiListItem-button {
	position: relative;

	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
	}

	//link
	a {		
	    @extend .ListItemText-style;
		@extend .title;

		i {			
			color: #222;
		}
	}

	//icon
	i.fa {		
		font-size: 20px;

		& + a {
			.MuiListItemText-root {
				margin-top: 0 !important;
    			pointer-events: none;

    			span {
    				pointer-events: none;
    			}				
			}
		}
	}
}


//sidebar menu links
nav a[data-path] {
	display: block;
	text-decoration: none;

	&:focus,
	&:focus-within {
		& .MuiListItem-button i,
		& .MuiListItemText-root,
		&[data-path^="folder"] .MuiListItem-root i
		&[data-path^="folder"] .MuiListItem-root .MuiListItemText-root {
			color: rgb(244,118,41) !important;
		}
	}

	.MuiListItem-button:hover,
	&[data-path^="folder"] .MuiListItem-root:hover {
		background-color: rgba(244,118,41,0.1) !important;
	}

	i.fa {
		width: 30px;
		text-align: center;
	}

	.MuiListItemText-root {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 100%;
		@extend .ListItemText-style;
		@extend .title;		
	}	
}


//sidebar menu buttons
.otherSidebarBtn {
	i.fa {
		width: 30px;
		text-align: center;
	}
	.MuiListItemText-root {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 100%;
		@extend .ListItemText-style;
	}
	&:hover {
		background-color: rgba(244,118,41,0.1) !important;
	}
	&:focus,
	&:focus-within {
		i.fa,
		.MuiListItemText-root {
			color: rgb(244,118,41) !important;
		}
	}
}


//right-click menus
#folderMenu,
#customFilterMenu {
	li {
    	min-height: inherit !important;
    	font-size: .8rem !important;
	}
}


//collapse
.collapseFiltersBtn {
	padding-left: 0 !important;
}
.MuiCollapse-wrapper {
	padding-left: 20px;

	.MuiListItemText-root {
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
		max-width: 100%;
	}
}
.collapseIcon {
    min-width: inherit !important;
}


//badge
.MuiBadge-badge {
	right: 6px !important;
    font-size: 10px !important;
    height: 15px !important;
}
.MuiBadge-colorPrimary {
	color: #fff !important;
}


//divider
.divi {	
    width: 100%;
	display: block;
	margin-bottom: 20px !important;
	@include between(3, 5) {
		display: none;
		margin-bottom: 0;
	}
}