//selected tab colors
.MuiTab-textColorInherit.Mui-selected {
    background-color: rgba(244,118,41,.1);
    color: #f47629;
}


//tab icons
.tabsWrapper.closed,
.MuiTab-root.closed {
	display: none;
}
.MuiTabs-scroller {
	height: 70px;
}
.MuiTab-wrapper .fa {
	font-size: 20px;
}
.MuiBadge-root.close .MuiBadge-badge{
    top: -30px;
    right: -6px;
}


//centering tabs
.MuiTabs-scrollable {
	@include to(3) {
		flex-grow: 0
	}
}
.MuiTabs-flexContainer {
	@include to(3) {
		justify-content: center;
	}
}