@import url('https://fonts.googleapis.com/css?family=Pridi&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');

@font-face {
	font-family: 'Keyboard';
	src: url('../fonts/KEY-N.eot');
	src: url('../fonts/KEY-N.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/KEY-N.woff2') format('woff2'), 
	url('../fonts/KEY-N.woff') format('woff'), 
	url('../fonts/KEY-N.ttf') format('truetype');
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'Keyboard2';
	src: url('../fonts/KEY-E.eot');
	src: url('../fonts/KEY-E.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/KEY-E.woff2') format('woff2'), 
	url('../fonts/KEY-E.woff') format('woff'), 
	url('../fonts/KEY-E.ttf') format('truetype');
	font-weight: normal;
	font-style: normal
}