//transition
@mixin transition($prop, $duration, $type) {
    -webkit-transition: $prop $duration $type;
    -moz-transition: $prop $duration $type;
    -ms-transition: $prop $duration $type;
    -o-transition: $prop $duration $type;
    transition: $prop $duration $type;
}

