//VARIABLES
//breakpoint slicer
$slicer-breakpoints:         0           480px       640px       992px               1200px;
//                           |___________|___________|___________|___________________|____________
// slice numbers                 1             2           3               4                5
$slicer-breakpoint-names:     'mobile'      'moblet'     'tablet'  'tablet-landscape'   'desktop';

//font awesome path
$fa-font-path: "../../node_modules/font-awesome/fonts";

//colors
$colors: (
	white: #ffffff,
	orange1: #F47629,
	orange2: #FF9800
);

//main fonts
$fonts: (
	fa: 'FontAwesome',
	kb: 'Keyboard',
	kb2: 'Keyboard2'
);


$sideBarWidth: 240px;
$mobileSideBarWidth: 40%;