@import "_assets";
@import "components/sidebar";
@import "components/tabs";
@import "components/list";
@import "components/post";
@import "components/info";

//general
* {
	box-sizing: border-box;
}

.clear { clear: both; }
.hidden { display: none !important; }


//main
main {	
	&:not(.opened) {
    	padding: 90px 0 0 0;
    	@include to(2) {
    		padding: 65px 0 0 0;
    	}
	}
	&.opened {
    	padding: 90px 0 0 #{$sideBarWidth};
    	@include to(2) {
    		padding: 65px 0 0 #{$mobileSideBarWidth};    		
    	}
	}
}


//header
header.opened .MuiToolbar-root{
	margin-left: #{$sideBarWidth} !important;

	@include to(2) {
    	margin-left: #{$mobileSideBarWidth} !important;
	}
}
.MuiAppBar-colorPrimary {
	color: #fff !important;
	background: linear-gradient(180deg, #{map-get($colors, orange2)} 0%, #{map-get($colors, orange1)} 40%);
}
.MuiDrawer-paperAnchorLeft {
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12) !important;
}


//logo
.logoWrapper {
	color: #fff;	
    font-size: 24px !important;
    letter-spacing: -1px !important;    
    font-family: 'PT Sans Narrow', sans-serif !important;

    #logo-link {
		color: #fff;
		text-decoration: none !important;

		#logo {
		    display: inline-block;
		    vertical-align: middle;
		    width: 70px;
		    background: url(../img/bloghu_logo.svg);
		    height: 50px;
		    background-size: 200%;
		    background-position: 50%;
		}

		#logo + span {
			top: 7px;
			position: relative;
		}    	
    }	
}


//snackbar
.MuiSnackbarContent-root {
	&.success {
		background-color: #43a047;
	}
	&.error {
		background-color: #d32f2f;
	}
}
#client-snackbar {
	display: flex;

	svg {
		margin-right: 20px;
	}	
} 


//error message
.errorMessage {
	color: #f47629;
	text-align: center;

	.fa {
		font-size: 90px;
	}
}


//loading
.loading {	
    display: table;
	margin: 10px auto;	
}